body {
    margin: 0;
    background: #1C1C1C;
}
.pg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background: #1F2937;
    color: white;
}
.title {
    width: 354px;
    height: 80px;
    margin: 115px 144px 0px 52px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}
.title h4 {
    margin: 0px;
}

.random {
    
    color:#4ADF86;
}
.never {
    width: 372px;
    height: 28px;
    margin: 10px 187px 0px 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

.generateP {
    width: 191px;
    height: 42px;
    margin: 51px 307px 0px 52px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color:white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    
}
hr {
    width: 446px;
    height: 0px;
    margin-top: 35px;
    margin-right: 52px;
    border: 1px solid #2F3E53;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.password {
    width: 211px;
    height: 39px;
    margin-top: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55F991;
    
    background: #273549;
    border-radius: 6px;
}